
#skills{
  /* border: 1px solid black; */
  width: 100%;
  margin: auto;
}

.skills_container > div {
    background: var(--color-bg-variant);
    padding: 2.4rem;
    /* border-radius: 2rem; */
    /* border: 1px solid transparent; */
    transition: var(--transition);
    /* border: 1px solid rgba(0,0,0,0.1); */
    /* box-shadow: rgba(0, 0, 0, 0.17) 0px -23px 25px 0px inset, rgba(0, 0, 0, 0.15) 0px -36px 30px 0px inset, rgba(0, 0, 0, 0.1) 0px -79px 40px 0px inset, rgba(0, 0, 0, 0.06) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px; */
  
  }

  .skills_main_container{
    border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 2rem;

  }

  .skills_title{
    text-align: center;
  }
  

  .skills_container > div h3 {
    text-align: center;
    margin: 2rem;
    color: var(--color-primary);
  }
  .skills_content {
    display: grid;
    border: none;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(auto);
    row-gap: 1rem;
    margin-bottom: 2rem;
  }
  
  .skills_details {
    border: 1px solid rgba(0, 0, 0, 0.1);
    display: flex;
    gap: 1rem;
    margin: auto;
    padding: 0.8rem 2rem;
    border-radius: 0.5rem;
  }
  .skills_details:hover {
    background-color:rgb(198, 198, 248);
    scale: 1.2;
    cursor: cursor;
    transition: var(--transition);
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    
  }
  .skills_details-icon {
    margin-top: 6px;
    color: var(--color-primary);
  }
  
  /* ==========MEDIA QUERIES (Tablets)===========*/
  @media screen and (max-width: 992px) {
    /* .skills_container > div {
      width: 80%;
      padding: 2rem;
      margin: auto;
    } */
    .skills_content {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      margin-bottom: 1rem;
    }
  }
  
  /* ==========MEDIA QUERIES (Mobiles)===========*/
  @media screen and (max-width: 768px) {
    .skills_content {
      display: grid;
      border: none;
      grid-template-columns: repeat(2, 1fr);
      column-gap: 0.5rem;
      margin: auto;
      /* padding: 1rem 2rem; */
    }

    .skills_container{
      width: 100%;
    }

    .skills_details {
      /* border: 1px solid rgba(0, 0, 0, 0.1); */
      margin: auto;
    }
   
  }


  










/*  for mediym devices */
@media screen and (max-width: 576px) {
  .skills_content {
    grid-template-columns: repeat(2, 1fr);
    /* margin: auto; */
  }

  .skills_container{
    width: 100%;
  }

  .skills_details {
    /* display: flex; */
    /* margin: auto; */
    font-size: 12px;
    padding: 0.1rem 0.5rem;
  }

   



}


/* For small devices */
@media screen and (max-width: 350px) {
  
}


