.project_container{
    width: 95%;
    justify-content: center;
    margin: auto;
    background-color: var(--container-color);
    border-radius: 0.25rem;
    padding: 1rem 1rem;
    background-color: var(--body-color);
}


.project_content{
    background-color: var(--container-color);
    border-radius: 1.25rem;
    padding: 0.2rem;
    margin: auto;
    /* border: 1px solid rgb(210, 209, 209); */
    font-size: 13px;
   
    
}


.project_div{
    /* border: 3px solid black; */
    display: grid;
    width: 100%;
    margin: auto;
    grid-template-columns: repeat(2,1fr);
    /* column-gap: 1rem; */
    padding: 1rem;
    margin-bottom: var(--mb-2);
    column-gap: 0.5rem;
}


.project_title{
    text-align: center;

}

.project_desc
{
    margin-top: 1rem;
    max-height: fit-content;
}


.button{
    padding: 0.5rem 1rem;
}



.project_div>div:nth-child(2)
{
    margin: auto;
    /* border: 2px solid black   ; */
    height: 100%;
    line-height: 1.5rem;
}

.project_div{
    transition: transform 3s;
    box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
}

.project_div:hover{
    transform: scale(1.05); 
}
    



























/*== ===== BREAKPOINTS ===
For large devices */
@media screen and (max-width: 1150px) {

    .project_div{
        /* border: 3px solid black; */
        width: 100%;
        margin: auto;
        grid-template-columns: repeat(1,1fr);
        /* column-gap: 1rem; */
        margin-bottom: var(--mb-1-5);
        row-gap: 1rem;
    }

    
  
  
   
  
  }




  /* For medium devices */
  @media screen and (max-width: 768px) {
  
   
      .project_container{
          width: 100%;
      }
  

      .project_div{
        /* border: 3px solid black; */
        width: 95%;
        grid-template-columns: repeat(1,1fr);
        /* column-gap: 1rem; */
        padding: 1rem;
    }
   
    .button{
        padding: 0.2rem 0.5rem;
    }
  
    
  }
  @media screen and (max-width: 576px) {
    .project_container{
        width: 100%;
        grid-template-columns: repeat(1,1fr);
    }

    .project_div{
        /* border: 3px solid black; */
        width: 100%;
        grid-template-columns: repeat(1,1fr);
        /* column-gap: 1rem; */
        padding: 1rem;
    }
   

    

  }
  /* For small devices */
  @media screen and (max-width: 350px) {
    :root{
      --big-font-size:2.25rem
    }
    .project_container{
        width: 100%;
        grid-template-columns: repeat(1,1fr);
    }

    .project_div{
        /* border: 3px solid black; */
        width: 100%;
        grid-template-columns: repeat(1,1fr);
        /* column-gap: 1rem; */
        padding:1rem;
    }
  
   
  }